extends ../layout
block headload
  include ../includes/headload
block head
  include ../includes/header
block content
  .ui.grid
    .four.wide.column
    .eight.wide.column
      form(method="post",enctype="multipart/form-data").ui.form.segment
        .field.required
          label(for="name") 用户名
          input(type="text",placeholder="用户名",name="name")
        .field.required
          label(for="password") 密码
          input(placeholder="密码",type="password",name="password")
        .field.required
          label(for="repassword") 重复密码
          input(placeholder="重复密码",type="password",name="repassword")
        .field.required
          label(for="gender") 性别
          select.ui.compact.selection.dropdown(name="gender")
            option(value="m") 男
            option(value="f") 女
            option(value="x") 保密
        .field.required
          label(for="avatar") 头像
          input(type="file",name="avatar")
        .field.required
          label(for="bio") 个人简介
          textarea(name="bio", rows="5")
        input.ui.button.fluid(type="submit",value="注册")
block foot
  include ../includes/footer